@{
    ViewData["Title"] = "thành công";
}


<h2 style="text-align:center"> Đã khai báo thành công</h2>

<div class="row form-groud">
    <div class="col-sm-12">
      
        <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Back</a>
    </div>

</div>